.Tlogo {
    max-width: 75%;
    max-height: 75%;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.T-banner {
    height: 80px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contentBody {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-right: 100px;
    margin-left: 100px;
}

.storyImg {
    width: 30%;
    border: 2px solid black;
}

#greenLine {
    background-color: #00843d;
    color: #fff;
}

#redLine {
    background-color: #da291c;
    color: #fff;
}

#orangeLine {
    background-color: #ed8b00;
    color: #fff;
}

#blueLine {
    background-color: #003da5;
    color: #fff;
}

#silverLine {
    background-color: #7c878e;
    color: #fff;
}

#charlieCardKiosk{
    height: 50%;
    width: 50%;
}

#stressedSteve {
    height: 50%;
    width: 50%;
}

#touristTom {
    height: 50%;
    width: 50%;
}